.card_input {
  border-top: none !important;
  display: flex;
  justify-content: center;

  input {
    width: 45px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    height: 30px;

  }

  .card_icon {
    font-size: 30px;
    cursor: pointer;
  }

  .card_icon.plus:hover {
    color: green;
  }

  .card_icon.minus:hover {
    color: red;
  }
}

.error_page {
  height: 100vh;
}


.contact_page {
  .contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
  }

  .contact-form .form-control {
    border-radius: 1rem;
  }

  .contact-image {
    text-align: center;
  }

  .contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
  }

  .contact-form form {
    padding: 14%;
  }

  .contact-form form .row {
    margin-bottom: -7%;
  }

  .contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
  }

  .contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }

  .btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
  }
}


.see_more {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    margin-top: 10px;

  }
}

.categories {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;


  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    width: 200px;
    height: 200px;
    background-color: rgb(5, 5, 5);
    color: white;
    font-size: 20px;

    a {
      text-decoration: none;
      color: white;
      transition: transform ease-in 0.5s;

    }

    a:hover {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 1200px) {
    .box {
      width: 180px;
      height: 180px;

    }
  }

  @media screen and (max-width: 1000px) {
    .box {
      width: 120px;
      height: 120px;
      font-size: 16px;


    }
  }

  @media screen and (max-width: 750px) {
    .box {
      width: 100px;
      height: 100px;
      font-size: 13px;


    }
  }

  @media screen and (max-width: 600px) {
    .box {
      width: 70px;
      height: 70px;
      font-size: 10px;


    }
  }
}