.product_page {


  .result {
    margin-top: 20px;
  }

  .modal-header {
    button {
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  .modal-content {
    margin-top: 5px;
  }



  .modal-body img {
    max-width: 550px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 3px;
  }



  td {
    padding: 5px;
  }

  .open_info {
    margin-top: 10px;
  }

  .add_to {
    background: green;
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    padding: 20px;
    line-height: 0.8;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
    border: 0px !important;
    border-radius: 100px;
    margin: 2px;
  }
}





@media screen and (max-width: 700px) {

  .placeorder_page {
    p {
      font-size: 11px;
      margin: 5px 0px;
    }
  }
}

.card_input {
  border-top: none !important;
  display: flex;
  justify-content: center;
}

.card_input input {
  width: 45px;
  text-align: center;
  border-radius: 20px;
  height: 30px;

}

.card_icon {
  font-size: 30px;
  cursor: pointer;
}

.card_icon.plus:hover {
  color: green;
}

.card_icon.minus:hover {
  color: red;
}

.cart_page {


  .removeCart {
    height: 35px;

  }


  .shopping-cart {
    padding-bottom: 50px;
    font-family: 'Montserrat', sans-serif;
  }

  .shopping-cart.dark {
    background-color: #f6f6f6;
  }

  .shopping-cart .content {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    background-color: white;
  }

  .shopping-cart .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }

  .shopping-cart .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: 0.7;
  }

  .shopping-cart .dark .block-heading p {
    opacity: 0.8;
  }

  .shopping-cart .block-heading h1,
  .shopping-cart .block-heading h2,
  .shopping-cart .block-heading h3 {
    margin-bottom: 1.2rem;
    color: #3b99e0;
  }

  .shopping-cart .items {
    margin: auto;
  }

  .shopping-cart .items .product {
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #5ea4f3;
    ;
  }

  .shopping-cart .items .product:last-child {
    border-bottom: none;
    ;
  }

  .shopping-cart .items .product .info {
    padding-top: 0px;
    text-align: center;
  }

  .shopping-cart .items .product .info .product-name {
    font-weight: 600;
  }

  .shopping-cart .items .product .info .product-name .product-info {
    font-size: 14px;
    margin-top: 15px;
  }

  .shopping-cart .items .product .info .product-name .product-info .value {
    font-weight: 400;
  }

  .shopping-cart .items .product .info .quantity .quantity-input {
    margin: auto;
    width: 80px;
  }

  .shopping-cart .items .product .info .price {
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
  }

  .shopping-cart .summary {
    border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
  }

  .shopping-cart .summary h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .shopping-cart .summary .summary-item:not(:last-of-type) {
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .shopping-cart .summary .text {
    font-size: 1em;
    font-weight: 600;
  }

  .shopping-cart .summary .price {
    font-size: 1em;
    float: right;
  }

  .shopping-cart .summary button {
    margin-top: 20px;
  }

  @media (min-width: 768px) {
    .shopping-cart .items .product .info {
      padding-top: 25px;
      text-align: left;
    }

    .shopping-cart .items .product .info .price {
      font-weight: bold;
      font-size: 22px;
      top: 17px;
    }

    .shopping-cart .items .product .info .quantity {
      text-align: center;
    }

    .shopping-cart .items .product .info .quantity .quantity-input {
      padding: 4px 10px;
      text-align: center;
    }

  }



}

@media screen and (max-width: 700px) {
  .removeCart {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .profile_page .MuiPaper-elevation {
    margin-left: -14px !important;
  }
}

.error_page {
  height: 100vh;
}

.order_page {

  .card {
    background-color: #fff;
    width: 500px;
    border: black solid 2px;
    border-radius: 16px;
  }

  .info {
    line-height: 19px;
  }

  .name {
    color: #4c40e0;
    font-size: 18px;
    font-weight: 600;
  }

  .order {
    font-size: 14px;
    font-weight: 400;
    color: #b7b5b5;
  }

  .detail {
    line-height: 19px;
  }

  .summery {
    color: #d2cfcf;
    font-weight: 400;
    font-size: 13px;
  }

  .text {
    line-height: 15px;
  }

  .new {
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }

  .money {
    font-size: 14px;
    font-weight: 500;
  }

  .address {
    color: #d2cfcf;
    font-weight: 500;
    font-size: 14px;
  }

  .last {
    font-size: 10px;
    font-weight: 500;
  }

  .address-line {
    color: #4c40e0;
    font-size: 11px;
    font-weight: 700;
  }

  @media screen and (max-width: 600px) {
    img {
      display: none;
    }
  }
}

.profile_page {
  .main-body {
    margin-top: 15px;
  }

  .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
  }

  .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
  }

  .gutters-sm>.col,
  .gutters-sm>[class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
  }

  .mb-3,
  .my-3 {
    margin-bottom: 1rem !important;
  }

  .bg-gray-300 {
    background-color: #e2e8f0;
  }

  .h-100 {
    height: 100% !important;
  }

  .shadow-none {
    box-shadow: none !important;
  }
}



.edit_profile_page {
  @media screen and (max-width: 600px) {
    img {
      display: none;
    }
  }
}

.my_order_page {
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }

  .horizontal-timeline .items {
    border-top: 2px solid #ddd;
  }

  .horizontal-timeline .items .items-list {
    position: relative;
    margin-right: 0;
  }

  .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ddd;
    top: 0;
    margin-top: -5px;
  }

  .horizontal-timeline .items .items-list {
    padding-top: 15px;
  }
}

.filter_page {
  position: relative;
  min-height: 100vh;
  margin-bottom: 5px;
  overflow-y: auto;

  .container::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
  }

  .container::-webkit-scrollbar-thumb {
    background-color: #ffa500;
    border-radius: 3px;
  }

  .container.bg-sec-light {
    background-color: #e7e7e7;
  }

  #navbar-toggler-icon {
    left: 7%;
    height: 40px;
    width: 40px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    z-index: 5;
    transition: left 0.4s ease;
  }

  #navbar-toggler-icon.click {
    position: absolute;
    left: 210px;
    top: 0;
    background-color: #747474;
  }

  #navbar-toggler-icon.click span:before {
    content: "\f00d";
  }



  #side-nav {
    float: left;
    width: 18%;
  }

  #content {
    float: right;
    width: 82%;
  }

  a {
    text-decoration: none;
    color: #222;
  }

  #content .user-select-none {
    user-select: none;
  }

  nav ul .brand img {
    object-fit: contain;
    width: 100px;
    height: 70px;
  }

  nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  nav ul li {
    line-height: 50px;
  }

  nav ul li a {
    color: #e5e5e5;
    text-decoration: none;
    display: block;
    width: 100%;
    padding-left: 20px;
    border-left: 4px solid transparent;
  }

  nav ul li a:hover {
    color: #fff;
    background-color: #2e2e2e;
  }

  nav ul li.active a {
    color: #ffff;
    background-color: #747474;
    border-left: 4px solid #ffa500;
  }

  .fa-phone {
    transform: rotate(90deg);
  }

  .location input[type="text"] {
    max-width: 200px;
    border-radius: 0px;
    border: 1px solid #444;
  }

  .location input[type="text"]::placeholder {
    color: #444;
  }

  .location input[type="text"]:focus,
  input[type="submit"]:focus {
    box-shadow: none;
  }

  input[type="submit"] {
    border-radius: 0;
    width: 120px;
  }

  .box {
    padding: 10px;
  }

  .btn:focus {
    box-shadow: none;
  }

  .box-label {
    color: #11698e;
    font-size: 0.9rem;
    font-weight: 800;
  }

  .box-label .btn {
    padding: 0;
    font-size: 0.8rem;
  }

  label {
    cursor: pointer;
  }

  .tick {
    display: block;
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    font-size: 0.9rem;
    margin: 0;
  }

  .tick input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .hotel .hotel-img {
    width: 200px;
    object-fit: contain;
  }

  .hotel .name {
    font-size: 1.2rem;
    font-weight: 700;
  }

  .hotel .name .city {
    font-weight: normal;
    font-size: 0.85rem;
  }

  #filter {
    width: 230px;
  }

  .hotel .fas,
  .hotel .far {
    font-size: 0.8rem;
  }

  .hotel .fas.fa-star {
    color: #ffa500;
  }

  .hotel .tags {
    font-size: 0.8rem;
  }

  .hotel .btn {
    width: 150px;
    border-radius: 0;
  }

  .hotel .btn.enquiry {
    background-color: #ff761b;
    color: #fff;
  }

  .hotel .btn.enquiry:hover {
    background-color: #fc771fef;
  }

  #hotels {
    width: 100%;
  }

  @media (min-width: 1399.6px) {
    #navbar-toggler-icon {
      display: none;
    }
  }

  @media (max-width: 1399.5px) {
    #navbar-toggler-icon {
      display: block;
      z-index: 11;
    }

    #side-nav {
      float: none;
      width: 250px;
      background-color: #161616f5;
      z-index: 10;
    }

    #content {
      float: none;
      width: 100%;
    }
  }

  @media (max-width: 1199.5px) {
    .hotel .hotel-img {
      width: 170px;
    }

    #side-nav {
      height: initial;
    }
  }

  @media (max-width: 767.5px) {
    .hotel .city {
      display: block;
    }

    .hotel .btn {
      width: 120px;
      font-size: 0.85rem;
    }

    input[type="submit"] {
      width: 100px;
      font-size: 0.9rem;
      margin-right: 10px;
    }
  }

  @media (max-width: 575.5px) {

    #filter,
    #hotels {
      width: 95%;
      margin: 15px;
    }
  }

  @media (max-width: 410px) {

    #filter,
    #hotels {
      width: 93%;
      margin: 10px;
    }
  }
}

.reviews {
  h5 {
    text-decoration: underline;
  }

  .delete_review {
    position: relative;
    left: 80%;
    top: 40px;
    cursor: pointer;
    font-weight: bold;
  }

  .total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
  }

  .total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
  }

  .restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
  }

  .graph-star-rating-header .star-rating {
    font-size: 17px;
  }

  .progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
  }

  .rating-list {
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
  }

  .rating-list-left {
    height: 16px;
    line-height: 29px;
    width: 10%;
  }

  .rating-list-center {
    width: 80%;
  }

  .rating-list-right {
    line-height: 29px;
    text-align: right;
    width: 10%;
  }

  .restaurant-slider-pics {
    bottom: 0;
    font-size: 12px;
    left: 0;
    z-index: 999;
    padding: 0 10px;
  }

  .restaurant-slider-view-all {
    bottom: 15px;
    right: 15px;
    z-index: 999;
  }



  .offer-dedicated-nav .nav-link.active,
  .offer-dedicated-nav .nav-link:hover,
  .offer-dedicated-nav .nav-link:focus {
    border-color: #3868fb;
    color: #3868fb;
  }

  .offer-dedicated-nav .nav-link {
    border-bottom: 2px solid #fff;
    color: #000000;
    padding: 16px 0;
    font-weight: 600;
  }

  .offer-dedicated-nav .nav-item {
    margin: 0 37px 0 0;
  }

  .restaurant-detailed-action-btn {
    margin-top: 12px;
  }

  .restaurant-detailed-header-right .btn-success {
    border-radius: 3px;
    height: 45px;
    margin: -18px 0 18px;
    min-width: 130px;
    padding: 7px;
  }

  .text-black {
    color: #000000;
  }

  .icon-overlap {
    bottom: -23px;
    font-size: 74px;
    opacity: 0.23;
    position: absolute;
    right: -32px;
  }

  .menu-list img {
    width: 41px;
    height: 41px;
    object-fit: cover;
  }

  .restaurant-detailed-header-left img {
    width: 88px;
    height: 88px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  }

  .reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
  }

  .rounded-pill {
    border-radius: 50rem !important;
  }

  .total-like-user {
    border: 2px solid #fff;
    height: 34px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    width: 34px;
  }

  .total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
  }

  .total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
  }

  .restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
  }

  .graph-star-rating-header .star-rating {
    font-size: 17px;
  }

  .progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
  }

  .rating-list {
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
  }

  .rating-list-left {
    height: 16px;
    line-height: 29px;
    width: 10%;
  }

  .rating-list-center {
    width: 80%;
  }

  .rating-list-right {
    line-height: 29px;
    text-align: right;
    width: 10%;
  }

  .restaurant-slider-pics {
    bottom: 0;
    font-size: 12px;
    left: 0;
    z-index: 999;
    padding: 0 10px;
  }

  .restaurant-slider-view-all {
    bottom: 15px;
    right: 15px;
    z-index: 999;
  }

  .progress {
    background: #f2f4f8 none repeat scroll 0 0;
    border-radius: 0;
    height: 30px;
  }
}

.contact_page {
  .contact-form {
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
  }

  .contact-form .form-control {
    border-radius: 1rem;
  }

  .contact-image {
    text-align: center;
  }

  .contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
  }

  .contact-form form {
    padding: 14%;
  }

  .contact-form form .row {
    margin-bottom: -7%;
  }

  .contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
  }

  .contact-form .btnContact {
    width: 100%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }

  .btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
  }
}

.carousel-root {

  img {
    height: 300px !important;
    margin: 5px;
    width: 50% !important;
  }

  .legend {
    width: 20% !important;
    margin-left: -10% !important;
  }

  .carousel-status {
    display: none !important;
  }

}

@media screen and (max-width: 700px) {
  .carousel-root {
    .legend {
      display: none;
    }

    img {
      width: 100% !important;

    }
  }
}



.seller_page {

  $white: #FFF;
  $gray: #888;
  $red: indianred;
  $blue: rgb(76, 159, 238);

  #like-button {
    color: $gray;
    font-size: 1.5em;
    font-family: 'Heebo', sans-serif;
    background-color: transparent;
    border: 0.1em solid;
    border-radius: 1em;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin: 15px;
    align-items: left;
    text-align: left;
    justify-content: left;

    position: absolute;
    right: 0;
    top: 0;



    &:hover {
      color: $red;
    }

    &:active {
      transform: scale(0.95);
    }

    &.selected {
      color: $white;
      background-color: $red;
      border-color: $red;
    }

    .heart-icon {
      display: inline-block;
      fill: currentColor;
      width: 0.8em;
      height: 0.8em;
      margin-right: 0.2em;
    }
  }

  #like-button.like {
    color: $red;

  }


  .card-body {
    text-align: center;
    align-items: center;
  }




  .card_seller:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.1);


  }

  #like {
    color: $blue;
    font-size: 1.5em;
    font-family: 'Heebo', sans-serif;
    background-color: transparent;
    border: 0.1em solid;
    border-radius: 1em;
    padding: 0.333em 1em 0.25em;
    line-height: 1.2em;
    box-shadow: 0 0.25em 1em -0.25em;
    cursor: pointer;
    transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
    outline: 0;
    margin: 15px;
    align-items: left;
    text-align: left;
    justify-content: left;

    .heart-icon {
      display: inline-block;
      fill: currentColor;
      width: 0.8em;
      height: 0.8em;
      margin-right: 0.2em;
    }
  }
}

@media screen and (max-width: 750px) {
  .seller_page {
    #like-button {
      font-size: 1em;

    }

    .card_seller .card {
      width: 17rem !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .seller_page #like-button {
    font-size: 0.8em;

  }
}

.filter_name {
  display: flex;

  .item {
    text-align: center;
    border: 2px solid black;
    width: 150px;
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
    font-weight: 500;

  }



  .item:hover {
    background-color: red;
  }



  .ratings {

    width: 200px;
  }

}

.see_more {
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    margin-top: 10px;

  }
}

.categories {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;


  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
    width: 200px;
    height: 200px;
    background-color: rgb(5, 5, 5);
    color: white;
    font-size: 20px;

    a {
      text-decoration: none;
      color: white;
      transition: transform ease-in 0.5s;

    }

    a:hover {
      transform: scale(1.2);
    }
  }

  @media screen and (max-width: 1200px) {
    .box {
      width: 180px;
      height: 180px;

    }
  }

  @media screen and (max-width: 1000px) {
    .box {
      width: 120px;
      height: 120px;
      font-size: 16px;


    }
  }

  @media screen and (max-width: 750px) {
    .box {
      width: 100px;
      height: 100px;
      font-size: 13px;


    }
  }

  @media screen and (max-width: 600px) {
    .box {
      width: 70px;
      height: 70px;
      font-size: 10px;


    }
  }
}

.media {
  height: 140px;

  img {
    width: 50px;
    height: 50px;
    margin: 0px 20px;
  }
}

