:root {
	--color-white: white;
	--color-black: black;
	--color-grey: gray;
	--color-main: #008b8b;
	--color-sales: rgb(139, 22, 139);
	--color-red-light: rgb(238, 98, 98);
	--color-red-bold: rgb(240, 30, 30);
	--color-blue-light: rgb(72, 124, 235);
	--color-blue-bold: rgb(8, 32, 245);

	--box-shadow: 1px 8px 15px -7px black;

	--border-white: 2px solid white;
	--border-black: 2px solid black;
}

* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
body {
	overflow-x: hidden;
}

.homeContainer {
	display: flex;
}

.app {
	margin-top: 160px;
}

.carousel-indicators {
	display: none !important;
}

.visually-hidden {
	color: black !important;
	font-weight: 900;
}

.carousel-control-next-icon {
	display: none !important;
}
