* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
body {
	overflow-x: hidden;
}

.homeContainer {
	display: flex;
}


.fa-bars {
	cursor: pointer;
	font-size: 30px;
	margin-left: 5px;
	margin-top: 5px;
}
