* {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
body {
	overflow-x: hidden;
}

.homeContainer {
	display: flex;
}

.fa-bars {
	cursor: pointer;
	font-size: 30px;
	margin-right: 20px;
	margin-top: 5px;
}

.goBack {
	border-radius: 10px;
	margin-left: -20px;
	border: none;
	color: rgb(223, 30, 16);
	background-color: white;
}

/* .app {
	filter: blur(4px);
} */

@media screen and (max-width: 700px) {
	.goBack {
		display: none;
	}
}
