.discount {
	width: 150px;
	height: 150px;
	overflow: hidden;
	position: absolute;
}
.discount::before,
.discount::after {
	position: absolute;
	z-index: -1;
	content: "";
	display: block;
	border: 5px solid red;
}
.discount span {
	position: absolute;
	display: block;
	width: 225px;
	padding: 15px 0;
	background-color: red;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	color: #fff;
	font: 700 18px/1 "Lato", sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	text-align: center;
}
/* top right*/
.discount-top-right {
	top: -10px;
	right: 7px;
}
.discount-top-right::before,
.discount-top-right::after {
	border-top-color: transparent;
	border-right-color: transparent;
}
.discount-top-right::before {
	top: 0;
	left: 0;
}
.discount-top-right::after {
	bottom: 0;
	right: 0;
}
.discount-top-right span {
	left: -25px;
	top: 30px;
	transform: rotate(45deg);
}

.card-sl {
	position: relative;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 30px;
	height: 470px;
}

.card-image img {
	height: 240px;
	width: 100%;
	border-radius: 8px 8px 0px 0;
	margin-right: auto;
}

.card-action {
	position: relative;
	float: right;
	margin-top: -25px;
	margin-right: 20px;
	z-index: 2;
	color: #111111 !important;
	background: #fff;
	border-radius: 100%;
	padding: 15px;
	font-size: 15px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action.love {
	color: #ff0505 !important;
}

.card-action:hover {
	color: #fff !important;
	background: #e26d5c;
	-webkit-animation: pulse 1.5s infinite;
}

.card-heading {
	font-size: 14px;
	font-weight: bold;
	background: #fff;
	padding: 10px 15px;
}

.card-text {
	padding: 10px 15px;
	background: #fff;
	font-size: 14px;
	color: #636262;
}
.price {
	display: flex;
}

.price span {
	margin-top: 20px;
}

.card-button {
	display: flex;
	justify-content: center;
	padding: 10px 0;
	width: 100%;
	background-color: #1f487e;
	color: #fff;
	border-radius: 0 0 8px 8px;
	border: none;
	bottom: 0;
	position: absolute;
}

.card-button:hover {
	text-decoration: none;
	background-color: #1d3461;
	color: #fff;
}

.list-inline-star .list-inline-item .fa-star:hover {
	color: gold;
}

.list-inline-star .list-inline-item .fa-star.yellow {
	color: gold;
}

.product_card {
	transition: transform ease-in-out 0.5s;
}

.product_card:hover {
	transform: scale(1.1);
}

.product {
	position: relative;
}

.btn-product .MuiSvgIcon-root {
	font-size: 50px;
}
.btn-product .MuiSvgIcon-root:hover {
	fill: rgb(104, 226, 120);
}

.icon_left {
	position: absolute;
	left: -40px;
	top: 50%;
	z-index: 111;
}
.icon_right {
	position: absolute;
	right: -40px;
	top: 50%;
	z-index: 111;
}

@media screen and (max-width: 800px) {
	.card-sl {
		height: 500px;
	}
}

@media screen and (max-width: 750px) {
	.product_card:hover {
		transform: none;
	}
}
@media screen and (max-width: 500px) {
	.icon_left {
		left: -10px;
		top: 55%;
	}
	.icon_right {
		right: -10px;
		top: 55%;
	}
}

@-webkit-keyframes pulse {
	0% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
	}

	70% {
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-webkit-transform: scale(1);
		transform: scale(1);
		box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
	}

	100% {
		-moz-transform: scale(0.9);
		-ms-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
