.product_page {





    .modal-header {
        button {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    }

    .modal-body {
        img {
            max-height: 300px;
            margin: 10px;
        }
    }

    .modal-footer {
        border: 1px solid var(--color-grey);
    }

    .modal-content {
        margin-top: 5px;
    }

    #product_image {
        margin: 0px 0px 65px 65px;
    }

    td {
        padding: 5px;
    }

    .open_info {
        margin-top: 10px;
    }

    .btn_action {
        display: flex;
        justify-content: center;
        text-align: center;

        button {
            margin: 10px;

        }
    }

    .add_to {
        background: green;
        color: var(--color-white) !important;
        display: inline-block;
        font-size: 15px;
        font-weight: 500;
        padding: 20px;
        line-height: 0.8;
        justify-content: center;
        text-align: center;
        text-transform: capitalize;
        border-radius: 1px;
        letter-spacing: 0.5px;
        border: 0px !important;
        border-radius: 100px;
        margin: 2px;
    }

    .reviews {
        h5 {
            text-decoration: underline;
        }

        .delete_review {
            position: relative;
            left: 80%;
            top: 40px;
            cursor: pointer;
            font-weight: bold;
        }

        .restaurant-detailed-ratings-and-reviews hr {
            margin: 0 -24px;
        }

        .reviews-members .media .mr-3 {
            width: 56px;
            height: 56px;
            object-fit: cover;
        }

        .media {
            height: 140px;

            img {
                width: 50px;
                height: 50px;
                margin: 0px 20px;
            }
        }
    }

    .top_products {
        width: 100%;
        justify-content: center;
        text-align: center;

        .card {
            margin-right: 55px;
            min-width: 230px;
            height: 450px;
        }

        img {
            margin-left: 10%;
            padding: 5px;
            width: 100%;
            height: 200px;
            max-width: 200px;
        }
    }

    .carousel .visually-hidden {
        display: none !important;
    }
}

.filter_page {
    position: relative;
    min-height: 100vh;
    margin-bottom: 5px;
    overflow-y: auto;

    #filter {
        width: 230px;
    }

    .container::-webkit-scrollbar {
        width: 6px;
        border-radius: 3px;
    }

    .container::-webkit-scrollbar-thumb {
        background-color: #ffa500;
        border-radius: 3px;
    }

    .container.bg-sec-light {
        background-color: var(--color-grey);
    }

    #content {
        float: right;
        width: 82%;
    }

    a {
        text-decoration: none;
        color: var(--color-black);
    }

    #content .user-select-none {
        user-select: none;
    }

    .box {
        padding: 10px;
    }

    .btn:focus {
        box-shadow: none;
    }

    .box-label {
        color: #11698e;
        font-size: 0.9rem;
        font-weight: 800;
    }

    .box-label .btn {
        padding: 0;
        font-size: 0.8rem;
    }

    label {
        cursor: pointer;
    }

    .filter_name {
        display: flex;

        .item {
            text-align: center;
            border: var(--border-black);
            width: 150px;
            height: 40px;
            margin-right: 15px;
            cursor: pointer;
            font-weight: 500;

        }

        .item:hover {
            background-color: var(--color-red-bold);
        }

        .ratings {

            width: 200px;
        }

    }

    .fas {
        margin-left: 10px;
    }



}



@media (max-width: 1399.5px) {
    .filter_page {
        #content {
            float: none;
            width: 100%;
        }
    }

}

@media (max-width: 1200px) {

    .product_page {
        .top_products {
            width: 80%;

            .card {
                margin-right: 30px;
                min-width: 200px;
                height: 450px;
            }

            img {
                width: 80%;
                height: 200px;
                max-width: 200px;
            }
        }
    }
}


@media (max-width: 1000px) {

    .product_page {
        .top_products {

            .card {
                height: 270px;
                min-width: 140px;

            }

            img {
                width: 80%;
                height: 150px;
                max-width: 100px;
            }

            .card-body {

                h5 {
                    font-size: 15px;
                }

                .card-text {
                    display: none;
                }
            }
        }

        .couponText {
            input {
                width: 60%;
            }
        }

        .modal-content .modal-body {
            img {
                width: 80% !important;
                height: 300px;
            }
        }

        .reviews .media {
            img {
                width: 50px !important;
                height: 50px;

            }
        }

        .modal-content {
            margin-bottom: 20px;
        }

    }

}

@media (max-width: 770px) {

    .product_page {
        .top_products {
            width: 100%;
            .same_category_card {
                overflow-x: scroll;
            }
        }
    }

}

@media (max-width: 575.5px) {

    .filter_page {
        #filter {
            width: 95%;
            margin: 15px;
        }
    }

    .product_page {

        .modal-body {
            padding: 10px;


        }

        td.h5 {
            font-size: 16px !important;
        }

        .reviews .media {
            img {
                display: none;

            }
        }

        #product_image {
            margin: 0px;
        }

        .couponText {
            td {
                display: flex;
            }

            input {
                width: 100%;
            }
        }


        .modal-body {
            img {
                height: 230px;
                margin: 10px;
            }
        }
    }



}

@media (max-width: 410px) {

    .filter_page {
        #filter {
            width: 93%;
            margin: 10px;
        }
    }

    .product_page {

        .amount {
            display: block;
        }

    }
}