@mixin cross($size: 20px, $color: currentColor, $thickness: 1px) {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: $size;
  height: $size;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: ($size - $thickness) / 2;
    left: 0;
    right: 0;
    height: $thickness;
    background: $color;
    border-radius: $thickness;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }

  span {
    display: block;
  }

}

.sidebar.mobile {
  width: 100%;
  margin-left: -20px;
  margin-top: -43px;



  .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0;
    border: 0;
    padding: 0;
    background: hsl(216, 100, 50);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;

    .icon-cross {
      @include cross(20px, #fff, 6px);
    }

    &:hover,
    &:focus {
      transform: rotateZ(90deg);
      background: hsl(216, 100, 40);
    }

  }


}

.sidebar {
  border-right: 2.5px solid rgb(230, 227, 227);
  border-bottom: 2.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  width: 130px;
  z-index: 99;



  .top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }



  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;
    position: relative;

    .counter {
      width: 15px;
      height: 15px;
      background-color: red;
      border-radius: 50%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      right: 9px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }

      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }

  .category {
    display: flex;
    justify-content: space-between;
    position: relative;

    .icon {
      font-size: 20px;
      position: relative;
      bottom: -12px;
      left: -25px;
      cursor: pointer;
    }
  }

  svg {
    color: black !important;
  }



}

@media screen and (max-width: 700px) {
  .sidebar {
    position: absolute;

  }
}

@media screen and (min-width: 700px) {
  .sidebar .btn-close {
    display: none;
  }
}