.sidebar {
  border-right: 2.5px solid rgb(230, 227, 227);
  border-bottom: 2.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background-color: white;
  width: 130px;
  z-index: 99;
  outline: none;



  .top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }



  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;
    position: relative;

    .counter {
      width: 15px;
      height: 15px;
      background-color: red;
      border-radius: 50%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      right: 9px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }

      &:nth-child(3) {
        background-color: darkblue;
      }
    }
  }

  .category {
    display: flex;
    justify-content: space-between;
    position: relative;

    .icon {
      font-size: 20px;
      position: relative;
      bottom: -12px;
      left: -25px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    position: absolute;

  }
}