.home {
  display: flex;
  flex-direction: column;



  .widgets {
    padding: 20px;
    gap: 30px;
  }



  .listContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;

    .listTitle {
      font-weight: 500;
      color: gray;
      margin-bottom: 15px;
    }
  }

}

.widget {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  border-radius: 10px;
  height: 100px;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: bold;
      font-size: 14px;
      color: rgb(160, 160, 160);
    }

    .counter {
      font-size: 28px;
      font-weight: 300;
    }

    .link {
      width: max-content;
      color: black;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid gray;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 14px;

      &.positive {
        color: green;
      }

      &.negative {
        color: red;
      }
    }

    .icon {
      font-size: 18px;
      padding: 5px;
      border-radius: 5px;
      align-self: flex-end;
    }
  }
}



.listAdmin {
  display: flex;
  width: 100%;

  .listContainer {
    flex: 6;
  }
}

.reviews_admin {
  object-fit: none;
}

@media screen and (max-width: 1200px) {
  .product_admin img {
    display: none;
  }


}

@media screen and (max-width: 1200px) {
  .create_product img {
    display: none;
  }
}



.datatable {
  height: 700px;
  padding: 20px;
  margin-bottom: 120px;

  .datatableTitle {
    width: 100%;
    font-size: 24px;
    color: gray;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: green;
      font-size: 16px;
      font-weight: 400;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }



  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.596);
      cursor: pointer;
    }
  }
}

.deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}

.status {
  padding: 5px;
  border-radius: 5px;

  &.inStock {
    color: green;
    background-color: rgba(0, 128, 0, 0.151);
  }

  &.outStock {
    color: rgb(243, 14, 14);
    background-color: rgba(189, 3, 3, 0.103);
  }
}

.message {
  margin: 10px;
  border-radius: 20px;

  .header_message {
    padding: 20px;
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }

  .body_message {
    padding: 20px;
    background-color: rgb(131, 128, 128);
    color: rgb(8, 8, 8);
    font-weight: 500;
    height: 250px;
  }

  .footer_message {
    padding: 20px;
    color: rgb(8, 8, 8);
    font-weight: 500;
    height: 100px;
  }

}

.action_message {
  padding: 20px;
  display: flex;
  justify-content: space-between;

  .action_message_send {
    .btn:first-child {
      margin-right: 5px;
    }
  }


  .btn {
    width: 200px;
  }
}

.order_admin {
  border-left: 1px solid rgb(114, 111, 111);
}

.orderDetails {
  width: 350px;
  margin-bottom: 20px;
  display: flex;
  color: black;



  img {
    margin: 10px;
    width: 50px;
    height: 50px;
  }
}


@media screen and (max-width: 1200px) {
  .orderDetails {
    width: 280px;
  }
}

@media screen and (max-width: 1000px) {
  .orderDetails {
    width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .action_message_send {
    .btn:first-child {
      margin-bottom: 5px;
    }
  }

  .order_admin {
    border-left: none;
  }

  .orderDetails {
    width: 400px;
  }
}

@media screen and (max-width: 500px) {
  .orderDetails {
    width: 300px;
  }
}