.navbar {
  height: 80px;
  border-bottom: 3.5px solid rgb(14, 11, 11);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #fffff0 !important;
  background-color: #008b8b;
  padding: 0;
  width: 100%;

  .wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo a {
      font-size: 30px;
      color: #fffff0 !important;
    }

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;

      input {
        border: none;
        outline: none;
        background: transparent;

        &::placeholder {
          font-size: 15px;
          color: white;
        }
      }
    }

    .items {
      display: flex;
      align-items: center;

      .counter {
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: bold;
        position: absolute;
        top: -5px;
        right: -5px;
      }

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        svg {
          color: white;
        }

        .user {
          margin-left: 5px;
          font-weight: 700;
        }

        .icon {
          font-size: 20px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        a {
          color: white !important;
        }


      }

      .login {
        color: rgb(247, 247, 247) !important;
        background: transparent;
        border: none;
      }
    }
  }
}


@media screen and (max-width: 750px) {
  .navbar .wrapper .items {
    .item {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    height: 120px;



    .wrapper {
      display: flex;
      margin-top: 50px;

      .logo {
        position: absolute;
        top: 10px;
        right: 30%;
      }


      .search {
        margin-top: 5px;
      }






    }
  }
}